h1 {
    margin: auto;
    text-align: center;
}

h4 {
    margin: auto;
    text-align: center;
}

#register_profile_button {
    position: fixed;
    top: 2%;
    right: 2%;
}

#edit_profile_button {
    position: fixed;
    top: 8%;
    right: 2%;
}