{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<h1>Home Page</h1>
<div class="container">
    <div class="row">
      <div class="col-lg-6 border">
          <h4>
              Leads
          </h4>
      </div>

      <!-- Messages column-->
      <div class="col border">
        <h4>
            Messages
        </h4>

        <!-- Trend Analytics Form-->
        <form class="border" action="http://160.39.157.189:5000/message_analytics/trends" method="GET">
            <h5>
                Trend analytics
            </h5>
            <div class="form-group row">
                <label for="frequency" class="col-lg-2 col-form-label" >frequency</label>
                <div class="col-lg-10">
                    <select class="form-control" id="frequency" name="frequency">
                        <option>months</option>
                        <option>years</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lead_source" class="col-lg-2 col-form-label">lead_source</label>
                <div class="col-lg-10">
                    <select class="form-control" id="lead_source" name="lead_source">
                        <option></option>
                        <option>facebook</option>
                        <option>thumbtack</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                <div class="col-lg-10">
                    <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                <div class="col-lg-10">
                    <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="dimension" class="col-lg-2 col-form-label">dimension</label>
                <div class="col-lg-10">
                    <input class="form-control" id="dimension" placeholder="(optional)" name="dimension">
                </div>
            </div>
            <div class="form-group row">
                <label for="graph" class="col-lg-2 col-form-label">graph</label>
                <div class="col-lg-10">
                    <select class="form-control" id="graph" name="graph">
                        <option></option>
                        <option>data</option>
                        <option>html</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary text-center">Submit</button>
              </div>
        </form>
      </div>
    </div>
  </div>
<div>
{% endblock %}
