{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<h1>Welcome to Talking Potatoes</h1>
<div class="container">
    <!-- First Row -->
    <div class="row">
        <!-- Leads column-->
        <div class="col-lg-6 border">
            <h4>
                Leads
            </h4>
        </div>
        <!-- Messages column-->
        <div class="col border">
            <h4>
                Messages
            </h4>
        </div>
    </div>

    <!-- Second Row-->
    <div class="row">
        <!-- First column -->
        <div class="col-lg-6 border">
            <form class="border" action="http://160.39.157.189:5000/get_leads" method="GET" target="_blank">
                <h5>
                    Get Leads
                </h5>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label" >lead_source (not yet)</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-lg-2 col-form-label">date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="date" placeholder="(optional)" name="date">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>

        <!-- Second column -->
        <div class="col-lg-6 border">
            <form class="border" action="http://160.39.157.189:5000/get_messages" method="GET" target="_blank">
                <h5>
                    Get Messages
                </h5>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label" >lead_source (not yet)</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-lg-2 col-form-label">date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>  
    </div>


    <!-- Third Row-->
    <div class="row">
        <!-- First column -->
        <div class="col-lg-6 border">
            <form class="border" action="http://160.39.157.189:5000/lead_analytics" method="GET" target="_blank">
                <h5>
                    Lead Analytics
                </h5>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label" >lead_source (not yet)</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dimension" class="col-lg-2 col-form-label" >dimension</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="dimension" name="dimension">
                            <option></option>
                            <option>state</option>
                            <option>count</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>
        <!-- Second column -->
        <div class="col-lg-6 border">
            <form class="border" action="http://160.39.157.189:5000/message_analytics" method="GET" target="_blank">
                <h5>
                    Message Analytics
                </h5>
                <div class="form-group row">
                    <label for="dimension" class="col-lg-2 col-form-label" >dimension (should change to lead_source)</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>  
    </div>

    <!-- Fourth Row-->
    <div class="row">
        <!-- First column -->
        <div class="col-lg-6 border">
        </div>

        <!-- Second Column-->
        <div class="col-lg-6 border">
            <!-- Trend Analytics Form-->
            <form class="border" action="http://160.39.157.189:5000/message_analytics/trends" method="GET" target="_blank">
                <h5>
                    Message Trend Analytics
                </h5>
                <div class="form-group row">
                    <label for="frequency" class="col-lg-2 col-form-label" >frequency</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="frequency" name="frequency">
                            <option>months</option>
                            <option>years</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label">lead_source</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dimension" class="col-lg-2 col-form-label">dimension</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="dimension" placeholder="(optional)" name="dimension">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="format" class="col-lg-2 col-form-label">format</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="format" name="format">
                            <option></option>
                            <option>by_year</option>
                            <option>graph</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>
    </div>

<div>
{% endblock %}
