{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<div class="container">
<h1 class="p-2">Welcome to Talking Potatoes</h1>
<!-- Register Profile Button -->
<button id="register_profile_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register">
    Register Profile
</button>

<!-- Register Profile Modal -->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Register Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="mt-3 mb-3">Talking Potatoes</h5>
            <form id="register_form">
                <div class="form-group row">
                    <label for="email" class="col-lg-3 col-form-label">email</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="email" placeholder="" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-lg-3 col-form-label">username</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="username" placeholder="" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-lg-3 col-form-label">password</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="password" placeholder="" name="password">
                    </div>
                </div>
                <h5 class="mt-3 mb-3">Thumbtack</h5>
                <div class="form-group row">
                    <label for="thumbtack_business_id" class="col-lg-3 col-form-label">thumbtack_business_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="thumbtack_business_id" placeholder="" name="thumbtack_business_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="thumbtack_user_id" class="col-lg-3 col-form-label">thumbtack_user_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="thumbtack_user_id" placeholder="" name="thumbtack_user_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="thumbtack_password" class="col-lg-3 col-form-label">thumbtack_password</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="thumbtack_password" placeholder="" name="thumbtack_password">
                    </div>
                </div>
                <h5 class="mt-3 mb-3">Facebook</h5>
                <div class="form-group row">
                    <label for="fb_page_id" class="col-lg-3 col-form-label">fb_page_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_page_id" placeholder="" name="fb_page_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fb_app_id" class="col-lg-3 col-form-label">fb_app_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_app_id" placeholder="" name="fb_app_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fb_page_access_token" class="col-lg-3 col-form-label">fb_page_access_token</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_page_access_token" placeholder="" name="fb_page_access_token">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fb_secret_key" class="col-lg-3 col-form-label">fb_secret_key</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_secret_key" placeholder="" name="fb_secret_key">
                    </div>
                </div>
            </form>
            <div class="text-center" data-bs-dismiss="modal">
                <button id="register_form_submit" class="btn btn-primary text-center mt-3">Submit</button>
            </div>
        </div>
    </div>
    </div>
</div>  

<!-- Edit Profile Button -->
<button id="edit_profile_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit">
    Edit Profile
</button>

<!-- Edit Profile Modal -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="mt-3 mb-3">Talking Potatoes</h5>
            <form id="edit_form">
                <div class="form-group row">
                    <label for="email" class="col-lg-3 col-form-label">email</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="email" placeholder="" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-lg-3 col-form-label">username</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="username" placeholder="" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-lg-3 col-form-label">password</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="password" placeholder="" name="password">
                    </div>
                </div>
                <h5 class="mt-3 mb-3">Thumbtack</h5>
                <div class="form-group row">
                    <label for="thumbtack_business_id" class="col-lg-3 col-form-label">thumbtack_business_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="thumbtack_business_id" placeholder="" name="thumbtack_business_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="thumbtack_user_id" class="col-lg-3 col-form-label">thumbtack_user_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="thumbtack_user_id" placeholder="" name="thumbtack_user_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="thumbtack_password" class="col-lg-3 col-form-label">thumbtack_password</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="thumbtack_password" placeholder="" name="thumbtack_password">
                    </div>
                </div>
                <h5 class="mt-3 mb-3">Facebook</h5>
                <div class="form-group row">
                    <label for="fb_page_id" class="col-lg-3 col-form-label">fb_page_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_page_id" placeholder="" name="fb_page_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fb_app_id" class="col-lg-3 col-form-label">fb_app_id</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_app_id" placeholder="" name="fb_app_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fb_page_access_token" class="col-lg-3 col-form-label">fb_page_access_token</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_page_access_token" placeholder="" name="fb_page_access_token">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fb_secret_key" class="col-lg-3 col-form-label">fb_secret_key</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="fb_secret_key" placeholder="" name="fb_secret_key">
                    </div>
                </div>
            </form>
            <div class="text-center" data-bs-dismiss="modal">
                <button id="edit_form_submit" type="submit" class="btn btn-primary text-center mt-3">Submit</button>
            </div>
        </div>
    </div>
    </div>
</div>  

<div class="container">
    <!--registration-->  
    <!-- First Row -->
    <div class="row">
        <!-- Leads column-->
        <div class="col-lg-6 border p-2">
            <h4>
                Leads
            </h4>
        </div>
        <!-- Messages column-->
        <div class="col border p-2">
            <h4>
                Messages
            </h4>
        </div>
    </div>

    <!-- Second Row-->
    <div class="row">
        <!-- First column -->
        <div class="col-lg-6 border p-2">
            <!--<form action="http://127.0.0.1:5000/get_leads" method="GET" target="_blank">-->
            <form action="/get_leads" method="GET" target="_blank">
                <h5>
                    Get Leads
                </h5>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label" >lead_source</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-lg-2 col-form-label">date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="date" placeholder="(optional)" name="date">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>

        <!-- Second column -->
        <div class="col-lg-6 border p-2">
            <!--<form action="http://127.0.0.1:5000/get_messages" method="GET" target="_blank">-->
            <form action="/get_messages" method="GET" target="_blank">
                <h5>
                    Get Messages
                </h5>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label" >lead_source</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-lg-2 col-form-label">date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="date" placeholder="(optional)" name="date">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>  
    </div>


    <!-- Third Row-->
    <div class="row">
        <!-- First column -->
        <div class="col-lg-6 border p-2">
            <!--<form action="http://127.0.0.1:5000/lead_analytics" method="GET" target="_blank">-->
            <form action="/lead_analytics" method="GET" target="_blank">
                <h5>
                    Lead Analytics
                </h5>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label" >lead_source</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dimension" class="col-lg-2 col-form-label" >dimension</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="dimension" name="dimension">
                            <option></option>
                            <option>state</option>
                            <option>category</option>
                            <option>travel_preferences</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>
        <!-- Second column -->
        <div class="col-lg-6 border p-2">
            <!--<form action="http://127.0.0.1.189:5000/message_analytics" method="GET" target="_blank">-->
            <form action="/message_analytics" method="GET" target="_blank">
                <h5>
                    Message Analytics
                </h5>
                 <div class="form-group row">
                    <label for="dimension" class="col-lg-2 col-form-label" >lead_source</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>  
    </div>

    <!-- Fourth Row-->
    <div class="row">
        <!-- First column -->
        <div class="col-lg-6 border p-2">
        </div>
        <!-- Second Column-->
        <div class="col-lg-6 border p-2">
            <!-- Trend Analytics Form-->
            <!--<form action="http://127.0.0.1:5000/message_analytics/trends" method="GET" target="_blank">-->
            <form action="/message_analytics/trends" method="GET" target="_blank">
                <h5>
                    Message Trend Analytics
                </h5>
                <div class="form-group row">
                    <label for="frequency" class="col-lg-2 col-form-label" >frequency</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="frequency" name="frequency">
                            <option>months</option>
                            <option>years</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lead_source" class="col-lg-2 col-form-label">lead_source</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lead_source" name="lead_source">
                            <option></option>
                            <option>facebook</option>
                            <option>thumbtack</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from_date" class="col-lg-2 col-form-label">from_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="from_date" placeholder="(optional)" name="from_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="to_date" class="col-lg-2 col-form-label">to_date</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="to_date" placeholder="(optional)" name="to_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dimension" class="col-lg-2 col-form-label">dimension</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="dimension" placeholder="(optional)" name="dimension">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="data_format" class="col-lg-2 col-form-label">format</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="data_format" name="data_format">
                            <option></option>
                            <option>by_year</option>
                            <option>graph</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </div>
            </form>
        </div>
    </div>
<div>
</div>
{% endblock %}
